@{
    ViewBag.Title = "Handleiding";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>


<img class="thumbnail col-lg-12" src="~/Content/Images/fb1.png" alt="">


