<div class="row tekst-groot">
    <div class="col-lg-10">
        <h2>Facebook zakelijk account aanmaken</h2>

        <p>
            Een zakelijke pagina wordt gekoppeld aan een privéaccount. Als je dus nog geen privéaccount hebt, moet je deze eerst <a href="~/Handleiding/FacebookPriveAccount">aanmaken</a>.
        </p>

        <p>
            Heb je een privéaccount op Facebook? Mooi. Dan kunnen we nu aan de slag met het aanmaken van de zakelijke pagina.
        </p>

        <h3>Pagina aanmaken</h3>

        <p>
            Aan de linkerkant op de profielpagina van jouw privéaccount zie je een lijstje staan. (Onderverdeeld in: Welkom, Vrienden, Apps, Interesses, Pagina’s en Groepen) In dit lijstje klik je op ‘Paginaoverzicht’.
        </p>

        <p>
            <img class="thumbnail" src="~/Content/Images/paginas.png" alt="">
        </p>

        <p>
            Vervolgens klik je rechts bovenaan de pagina op ‘Een pagina maken’.
        </p>

        <p>
            <img class="thumbnail" src="~/Content/Images/pagina_maken.png" alt="">
        </p>

        <p>
            Nu kan je kiezen wat voor pagina je aan wil maken. Kies een soort pagina die het best bij jouw bedrijf past.
        </p>

        <p>
            <img class="thumbnail" src="~/Content/Images/soort_bedrijf.png" alt="">
        </p>

        <p>
            *Voor de rest van deze uitleg kies ik voor ‘Lokaal bedrijf of lokale plaats’.
        </p>

        <p>
            Vul de gevraagde bedrijfsgegevens in, lees eventueel de ‘Voorwaarden van Facebook-pagina’s’ en klik op de knop ‘Aan de slag. De naam is erg belangrijk om goed te worden gevonden op Facebook. Vul de naam dus zorgvuldig in, deze kan je later niet meer wijzigen.
        </p>

        <p>
            <img class="thumbnail" src="~/Content/Images/info_bedrijf.png" alt="">
        </p>

        <h4>Stap 1: Info</h4>

        <p>
            Je wil natuurlijk een pagina die zoveel mogelijk informatie over jouw bedrijf bevat. Je kan ervoor kiezen om dit later te doen door op ‘Overslaan’ te klikken. Wil je het direct doen, vul dan de betreffende informatie in en klik vervolgens op de knop ‘Informatie opslaan’.
        </p>

        <p>
            Beschrijving: Deze informatie krijgen mensen te zien als ze op jouw pagina op ‘Info’ klikken. Hier kan je omschrijven wat jij/jouw bedrijf doet.
        </p>

        <p>
            Website: Plaats hier de link naar jouw website (of andere Social Media accounts, een blog, een portfolio, etc.), deze zal zichtbaar zijn op de pagina.
        </p>

        <p>
            <img class="thumbnail" src="~/Content/Images/stap1_bedrijf.png" alt="">
        </p>

        <h4>Stap 2: Profielfoto</h4>

        <p>
            De profielfoto van een pagina is belangrijk. Deze zijn namelijk zichtbaar naast elk bericht dat vanuit deze pagina wordt geplaatst, ook als je op andere berichten reageert. De afbeelding wordt daardoor het vaakst gezien in de vorm van een thumbnail (een klein vierkant plaatje), denk er daarom bij het kiezen van de afbeelding dat deze op dit formaat ook nog herkenbaar is. Een afbeelding moet minimaal 180x180 pixels zijn. Bedrijven gebruiken vaak hun logo of een ander, voor hun bedrijf, relevant plaatje als profielfoto.
        </p>

        <p>
            Meer over de afmetingen: <a href="https://www.facebook.com/help/315809258465467">https://www.facebook.com/help/315809258465467</a>
        </p>

        <p>
            <img class="thumbnail" src="~/Content/Images/stap2_bedrijf.png" alt="">
        </p>

        <h4>Stap 3: Toevoegen aan favorieten</h4>

        <p>
            De uitleg op deze pagina spreekt voor zich.
        </p>

        <p>
            <img class="thumbnail" src="~/Content/Images/stap3_bedrijf.png" alt="">
        </p>

        <h4>Stap 4: Bereik meer mensen</h4>

        <p>
            Hier kan je betalingsmethoden invullen voor het geval je betaald wil adverteren via Facebook. Als je dit ooit van plan bent om te doen, kan je dit natuurlijk toevoegen, maar het kan ook altijd later nog. Het is niet verplicht!
        </p>

        <p>
            <img class="thumbnail" src="~/Content/Images/stap4_bedrijf.png" alt="">
        </p>

        <h4>Voltooien</h4>

        <p>
            Je hebt wederom een email van Facebook ontvangen, deze is om de registratie van de zakelijke pagina te voltooien. Open de email en klik op ‘Je pagina openen’.
        </p>

        <p>
            Gefeliciteerd! Jij hebt nu zelf een zakelijke Facebook pagina aangemaakt. En je kan hem zelf als eerste liken.
        </p>

        <p>
            <img class="thumbnail" src="~/Content/Images/voltooien_bedrijf.png" alt="">
        </p>
    </div>
</div>