<div class="col-lg-1">

</div>
<div class="col-lg-10">
    <ol class="breadcrumb">
        <li><a href="~/Handleiding">Handleiding Index</a></li>
        <li><a href="~/Handleiding/FacebookZakelijkAccount">Facebook zakelijk account aanmaken</a></li>
        <li class="active">Facebook privé account aanmaken</li>
    </ol>

    <ul class="pager">
        <li class="previous"><a href="~/Handleiding/FacebookZakelijkAccount">&larr; Facebook zakelijk account aanmaken</a></li>
    </ul>

    <div class="tekst-groot">


        <h2>Facebook privé account aanmaken</h2>

        <h3>Privéregistratie</h3>

        <p>
            Ga in je browser naar <a href="http://www.facebook.com/">http://www.facebook.com/</a> en je komt op onderstaande pagina terecht. Hier kan je je gratis registreren, hiervoor hoef je alleen de gevraagde persoonsgegevens in te vullen en op de knop ‘registreren’ te klikken.
        </p>

        <p>
            <img class="thumbnail" src="~/Content/Images/fb1.png" alt="">
        </p>

        <h4>Stap 1: Je vrienden zoeken</h4>

        <p>
            Misschien denk je nu, ik wil helemaal geen privéconnecties op Facebook. Dat kan natuurlijk! Klik dan op ‘Overslaan’. Maar overdenk wel het volgende: wie kan jij het makkelijkst zover krijgen om straks de pagina van jouw bedrijf te liken? Waarschijnlijk jouw privéconnecties. Als jij die mensen ‘verzameld’ op jouw privéaccount en hen vraagt om jouw zakelijke pagina te liken, dan is de eerste stap naar naamsbekendheid gezet.
        </p>

        <p>
            Als je straks een privéaccount hebt, dan kan je natuurlijk altijd nog vrienden zoeken. Maar wil je alvast een handje geholpen worden bij het vinden van vrienden? Vul dan jouw privé mailadres in en klik vervolgens op de knop ‘Vrienden zoeken’.
        </p>

        <p>
            <img class="thumbnail" src="~/Content/Images/stap1_prive.png" alt="">
        </p>

        <h4>Stap 2: Profielgegevens</h4>

        <p>
            De gegevens die je hier invult worden toegevoegd aan jouw profielpagina van je privéaccount. Ook deze stap is niet verplicht, wil je het niet invullen klik dan op ‘overslaan’. Wederom kan Facebook op basis van deze gegevens wellicht vrienden vinden die jij graag wil toevoegen aan jouw netwerk. Lijkt jou dit wel interessant dan kan je deze gegevens invullen en vervolgens klikken op de knop ‘Opslaan en doorgaan’.
        </p>

        <p>
            <img class="thumbnail" src="~/Content/Images/stap2_prive.png" alt="">
        </p>

        <h4>Stap 3: Profielfoto toevoegen</h4>

        <p>
            Hier kan je een foto uploaden vanaf jouw computer of maak je een foto met een webcam. Denk er bij de keuze van de profielfoto wel aan dat deze openbaar zichtbaar zal zijn. Als je een foto hebt toegevoegd kan je op de knop ‘Opslaan en doorgaan’ klikken. Wil je de stap overslaan, klik dan op ‘overslaan’.
        </p>

        <p>
            <img class="thumbnail" src="~/Content/Images/stap3_prive.png" alt="">
        </p>

        <h4>Activeren</h4>

        <p>
            Voordat je verder kan gaan op Facebook, moet je jouw account activeren. Dit doe je door in de email van Facebook op de knop ‘Je account bevestigen’ te klikken.
        </p>

        <p>
            <img class="thumbnail" src="~/Content/Images/bevestig_prive.png" alt="">
        </p>

    </div>

    <ul class="pager">
        <li class="previous"><a href="~/Handleiding/FacebookZakelijkAccount">&larr; Facebook zakelijk account aanmaken</a></li>
    </ul>
</div>
<div class="col-lg-1">

</div>