<div class="row tekst-groot">
    <div class="col-lg-10">
        <h2>Titel</h2>

        <h3>kopje</h3>

        <p>
            tekst <a href="http://www.facebook.com/">linkje</a>
        </p>

        <p>
            <img class="thumbnail" src="~/Content/Images/fb1.png" alt="">
        </p>

        <h4>kopjeje</h4>

        <p>
            tekst
        </p>
    </div>
</div>