<div class="row">
    <div class="col-lg-10">
        <h2>Twitter zakelijk account aanmaken</h2>

        <p>
            Voor Twitter heb je geen privéaccount nodig. Dus we kunnen gelijk beginnen met het aanmaken van een zakelijk Twitter account.
        </p>

        <p>
            Ga naar <a href="http://www.twitter.com/">http://www.twitter.com/</a>
        <p>
            <img class="thumbnail" src="~/Content/Images/twitter_home.png" alt="">
        </p>

        <h3>Registreren</h3>

        <h4>Volledige naam</h4>
        <p>
            Vul hier de bedrijfsnaam in.
        </p>

        <h4>E-mailadres</h4>
        <p>
            Vul een geldig e-mailadres in, deze wordt later gebruikt voor een bevestigingsemail.
        </p>

        <h4>Wachtwoord</h4>
        <p>
            Bedenk een wachtwoord met minimaal 6 tekens en zorg dat je deze onthoud.
        </p>
        <p>
            Klik vervolgens op de knop ‘Registreren op Twitter’.
        </p>

        <p>
            <img class="thumbnail" src="~/Content/Images/twitter_registreer_nu.png" alt="">
        </p>

        <h3>Account aanmaken</h3>
        <p>Vervolgens moet je een account aanmaken. </p>

        <h4>Gebruikersnaam</h4>

        <p>Gebruik hier de bedrijfsnaam. De gebruikersnaam is maximaal 15 tekens lang, mag alleen cijfers, letters of een underscore bevatten en geen spaties. Naast het invulveld voor de gebruikersnaam zie je of de door jou gekozen naam goed en beschikbaar is.</p>
    
        <p>
            <img class="thumbnail" src="~/Content/Images/twitter_gebruikersnaam.png" alt="">
        </p>

        <p>
            Klik vervolgens op de knop ‘Mijn account aanmaken’.
        </p>

        <p>
            Nu geeft Twitter zelf een rondleiding over hoe Twitter werkt. Hieronder worden de stappen even toegelicht. Heb je (nog) geen zin om deze stappen te doorlopen? Klik dan bij elke stap direct op de knop ‘Volgende’ zonder eerst te doen wat de stappen van je vragen.
        </p>

        <h3>De rondleiding</h3>

        <h4>Stap 1. Welkom</h4>

        <p>
            Hier wordt kort uitgelicht wat Tweets zijn. Klik vervolgens op de knop ‘Volgende’.
        </p>

        <p>
            <img class="thumbnail" src="~/Content/Images/twitter_welkom.png" alt="">
        </p>

        <h4>Stap 2. Bouw je tijdlijn op</h4>

        <p>
            Hier kan (Twitter geeft geen mogelijkheid om het over te slaan, dus eigenlijk moet je) andere Twitteraars volgen. Tip: vul in het veld ‘Zoeken naar...’ vijf Twitteraars in die iets met jouw bedrijf te maken hebben. Denk hierbij aan zakenrelaties, of websites die gerelateerd zijn aan jouw bedrijf en actief zijn op Twitter. 
        </p>

        <p>
            Voor Mijn Social Plan zijn bijvoorbeeld websites gevolgd die vaak interessante artikelen over Social Media publiceren.
        </p>

        <p>
            <img class="thumbnail" src="~/Content/Images/twitter_tijdlijn.png" alt="">
        </p>

        <p>
            Klik vervolgens op de knop ‘Volgende’.
        </p>

        <h4>Stap 3. Kijk eens wie er is</h4>

        <p>
            Hier kan je nòg meer mensen/bedrijven volgen. Voeg er wederom 5 toe, net zoals in de vorige stap. Of klik direct op de knop ‘Volgende’.
        </p>

        <h4>Stap 4. Zoek personen die je kent</h4>

        <p>
            Hier kan je wederom Twitteraars toevoegen. Nu gaat het om mensen die je kent, deze kan je ook makkelijk laten vinden door Twitter jouw email contactpersonen te laten doorzoeken. Als je dit wil klik dan op de knop ‘Contactpersonen doorzoeken’. Wil je dit niet, dan zie je onderaan dit vak (als je heel goed kijkt) een klikbare ‘Overslaan’ staan.
        </p>

        <p>
            <img class="thumbnail" src="~/Content/Images/twitter_zoek_vrienden.png" alt="">
        </p>

        <h4>Stap 5. Maak het wat persoonlijker</h4>

        <p>
            Hier kan je het logo van jou bedrijf of een foto van jezelf toevoegen. Bij Bio kan je een omschrijving van jouw bedrijf/dienst toevoegen.
        </p>

        <p>
            <img class="thumbnail" src="~/Content/Images/twitter_persoonlijker.png" alt="">
        </p>

        <h4>Stap 6. Account bevestiging</h4>

        <p>
            Je hebt een e-mail ontvangen om jouw Twitter registratie te voltooien. Ga naar jouw e-mail inbox en klik op de knop ‘Je account nu bevestigen’.
        </p>

        <p>
            <img class="thumbnail" src="~/Content/Images/twitter_bevestig.png" alt="">
        </p>

        <h3>Account instellen</h3>

        <p>
            Nu je een account hebt is het tijd om jouw Twitter pagina persoonlijker te maken.
        </p>

        <p>
            Ga rechtsboven de pagina naar instellingen.
        </p>

        <p>
            <img class="thumbnail" src="~/Content/Images/twitter_instellingen_knop.png" alt="">
        </p>

        <p>
            Op deze pagina kan je informatie toevoegen of wijzigen. Twitter geeft zelf duidelijke aanwijzingen over de velden. Neem de tijd om alles door te nemen en wijzigingen of toevoegingen aan te brengen. Er staan echt veel handige en leuke opties tussen! 
        </p>

        <p>
            <img class="thumbnail" src="~/Content/Images/twitter_instellingen.png" alt="">
        </p>
    </div>
</div>