@{
    ViewBag.Title = "Nieuw Social Plan maken";
}
<h2 id="plantitel">@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<script>

    function saveSocialPlanAjax() {

        var socialPlan = $('form#socialplanform').serializeJSON();

        alert(socialPlan);

        $.ajax({
            type: 'POST',
            url: '@Url.Action("Save", "SocialPlan")',
            data: socialPlan,
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                alert("save success " + response);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert('error: ' + errorThrown);
            }
        });
    }
</script>

@*<a href="#" onclick="saveSocialPlanAjax();">SaveTest</a>*@

<form id="socialplanform" class="form-horizontal">

    <ul class="nav nav-tabs" style="margin-bottom: 15px;">
        <li class="active"><a href="#algemeen" data-toggle="tab">Algemeen</a></li>
        <li><a href="#analyse" data-toggle="tab">Analyse</a></li>
        <li><a href="#content" data-toggle="tab">Content</a></li>
        <li><a href="#planning" onclick="preparePlanningTab();" data-toggle="tab">Planning</a></li>
    </ul>
    <div id="myTabContent" class="col-lg-12 tab-content">
        <div class="tab-pane fade active in" id="algemeen">
            <h3>Algemeen</h3>
            <br />
            <div class="form-group">
                <label for="inputTitel" class="col-lg-2 control-label">Titel</label>
                <div class="col-lg-3">
                    <input type="hidden" name="socialplan[socialplanid]" value="">
                    <input type="text" onblur="setTitel();" class="form-control" id="inputTitel" name="socialplan[titel]" placeholder="Naam project">
                </div>
                <button type="button" class="infoknop btn btn-default btn-md inline" data-container="body" data-toggle="popover" data-placement="right" data-content="TODO"><span class="glyphicon glyphicon-info-sign"></span></button>
            </div>
            <br />
            <div id="contactpersoonRow" class="contactpersoonRow form-group">
                <label for="inputContactpersoonNaam" class="col-lg-2 control-label">Contactpersoon</label>
                <div class="col-lg-3">
                    <input type="text" class="form-control inline" id="inputContactpersoonNaam" name="socialplan[contactpersonen][][naam]" placeholder="Naam contactpersoon">
                    <input type="text" class="form-control inline" id="inputContactpersoonEmail" name="socialplan[contactpersonen][][email]" placeholder="Email">
                    <input type="text" class="form-control inline" id="inputContactpersoonTelefoon" name="socialplan[contactpersonen][][telefoon]" placeholder="Telefoon">
                </div>
                <button type="button" class="infoknop btn btn-default btn-md inline" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Voeg hier iedereen toe die bij dit Socialplan betrokken is, van leidinggevend tot uitvoerend."><span class="glyphicon glyphicon-info-sign"></span></button>
            </div>
            <div class="form-group">
                <div class="col-lg-2">
                </div>
                <div class="col-lg-3">
                    <button type="button" class="btn btn-primary btn-md plusContactpersoon">
                        <span class="glyphicon glyphicon-plus"></span> Contactpersoon
                    </button>
                </div>
            </div>
            <br />
            <div class="form-group">
                <label for="inputAfspraken" class="col-lg-2 control-label">Afspraken</label>
                <div class="col-lg-9">
                    <textarea class="form-control" rows="6" id="inputAfspraken" name="socialplan[afspraken]" placeholder=""></textarea>
                    <span class="help-block">
                        Afspraken over Social Media gebruik door alle betrokken partijen.
                    </span>
                </div>
                <button type="button" class="infoknop btn btn-default btn-md inline" data-container="body" data-toggle="popover" data-placement="left" data-content="Omschrijf hier alle afspraken die gemaakt zijn met betrokken partijen met betrekking tot Social Media gebruik. Denk hierbij aan wat er wel of niet gedeeld mag worden. Of bij een actie bijvoorbeeld dat familieleden van betrokken partijen niet mogen deelnemen."><span class="glyphicon glyphicon-info-sign"></span></button>
            </div>
            <br />
            <div id="urlRow" class="urlRow form-group">
                <label for="inputUrl" class="col-lg-2 control-label">URL</label>
                <div class="col-lg-6">
                    <input type="text" class="form-control inline" id="inputUrl" name="socialplan[urls][]" placeholder="http://www....">
                </div>
                <button type="button" class="infoknop btn btn-default btn-md inline" data-container="body" data-toggle="popover" data-placement="right" data-content="Voeg hier alle betrokken URL's toe. Denk aan de website en de Social Media kanalen."><span class="glyphicon glyphicon-info-sign"></span></button>
            </div>
            <div class="form-group">
                <div class="col-lg-2">
                </div>
                <div class="col-lg-3">
                    <button type="button" class="btn btn-primary btn-md plusUrl">
                        <span class="glyphicon glyphicon-plus"></span> URL
                    </button>
                </div>
            </div>
            <br />
            <br />
            <div class="form-group">
                <div class="col-lg-2">
                </div>
                <div class="col-lg-10">
                    <a href="#" onclick="activeTab('analyse');" data-toggle="tab" class="col-lg-3 btn btn-success btn-md">
                        <span class="glyphicon glyphicon-chevron-right"></span> Verder naar Analyse
                    </a>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="analyse">
            <h3>Analyse</h3>
            <br />
            <div class="form-group">
                <label for="inputDoelgroep" class="col-lg-2 control-label">Doelgroep</label>
                <div class="col-lg-9">
                    <textarea class="form-control" rows="6" id="inputDoelgroep" name="socialplan[doelgroep]" placeholder=""></textarea>
                </div>
                <button type="button" class="infoknop btn btn-default btn-md inline" data-container="body" data-toggle="popover" data-placement="left" data-content="Hier omschrijf je wie jouw kerndoelgroep is en wie je wil bereiken. Dit sluit niet uit dat je meer mensen kan, wil en gaat bereiken, maar het is wel belangrijk om je in eerste instantie te richten op jouw directe doelgroep. Bijvoorbeeld: Vrouwen tussen de 20 en 40 jaar die gaan/graag willen trouwen.">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </button>
            </div>
            <br />
            <div class="form-group">
                <label for="inputToonStijl" class="col-lg-2 control-label">Tone of voice</label>
                <div class="col-lg-9">
                    <textarea class="form-control" rows="6" id="inputToonStijl" name="socialplan[toonstijl]" placeholder=""></textarea>
                </div>
                <button type="button" class="infoknop btn btn-default btn-md inline" data-container="body" data-toggle="popover" data-placement="left" data-content="De tone of voice is de vorm waarin je de lezer aanspreekt. Het gaat hier vooral om een woordkeus, zinsopbouw en aanspreekvorm die aansluit op de doelgroep."><span class="glyphicon glyphicon-info-sign"></span></button>
            </div>
            <br />
            <div class="form-group">
                <label for="inputPropositie" class="col-lg-2 control-label">Propositie</label>
                <div class="col-lg-9">
                    <textarea class="form-control" rows="3" id="inputPropositie" name="socialplan[propositie]" placeholder=""></textarea>
                </div>
                <button type="button" class="infoknop btn btn-default btn-md inline" data-container="body" data-toggle="popover" data-placement="left" data-content="Hier zeg je kort wat jij de volgers van jouw pagina biedt. Bijvoorbeeld: Mis geen enkele actie van Bruidsmode op http://...."><span class="glyphicon glyphicon-info-sign"></span></button>
            </div>
            
            
            @*<br />
            <div id="kansRow" class="kansRow form-group">
                <label for="inputKans" class="col-lg-2 control-label">Kans</label>
                <div class="col-lg-6">
                    <input type="text" class="form-control inline" id="inputKans" name="socialplan[kansen][]" placeholder="">
                </div>
                <button type="button" class="infoknop btn btn-default btn-md inline" data-container="body" data-toggle="popover" data-placement="right" data-content="Kansen omschrijven wat jouw volgers met de pagina kunnen bereiken. Bijvoorbeeld: Een kans is dat wij een plek bieden waar vrouwen graag hun mening delen over trouwjurken."><span class="glyphicon glyphicon-info-sign"></span></button>
            </div>
            <div class="form-group">
                <div class="col-lg-2">
                </div>
                <div class="col-lg-3">
                    <button type="button" class="btn btn-primary btn-md plusKans">
                        <span class="glyphicon glyphicon-plus"></span> Kans
                    </button>
                </div>
            </div>*@
            
            <br />
            <div class="col-lg-2"></div>
            <div class="col-lg-10">
                <h4>Onze doelen</h4>
            </div>
            <div id="onsdoelRow" class="onsdoelRow form-group">
                <label for="inputOnsdoel" class="col-lg-2 control-label">Doel</label>
                <div class="col-lg-6">
                    <input type="text" class="form-control inline" id="inputOnsdoel" name="socialplan[doelenons][]" placeholder="">
                </div>
                <button type="button" class="infoknop btn btn-default btn-md inline" data-container="body" data-toggle="popover" data-placement="right" data-content="De doelstelling beschrijft wat een bedrijf wil bereiken. Bezoek, merkbekendheid, feedback? Dit heeft namelijk invloed op de onderwerpen, de planning en de vorm van content. Wat zijn de tussendoelen? Denk aan het behalen van 100 likes in vier weken. Door deze targets te stellen, kan je meten of de huidige strategie effectief is."><span class="glyphicon glyphicon-info-sign"></span></button>
            </div>
            <div class="form-group">
                <div class="col-lg-2">
                </div>
                <div class="col-lg-3">
                    <button type="button" class="btn btn-primary btn-md plusOnsdoel">
                        <span class="glyphicon glyphicon-plus"></span> Doel
                    </button>
                </div>
            </div>
            <br />
            <div class="col-lg-2"></div>
            <div class="col-lg-10">
                <h4>Tussendoelen</h4>
            </div>
            <div id="succesfactorRow" class="succesfactorRow form-group">
                <label for="inputSuccesfactor" class="col-lg-2 control-label">Tussendoel</label>
                <div class="col-lg-6">
                    <input type="text" class="form-control inline" id="inputSuccesfactor" name="socialplan[succesfactoren][]" placeholder="">
                </div>
                <button type="button" class="infoknop btn btn-default btn-md inline" data-container="body" data-toggle="popover" data-placement="right" data-content="Een kritische succesfactor bepaald het lot van bijvoorbeeld een actie. Stel je vraagt volgers om foto’s in te zenden met de belofte dat deze in het ‘happy customer’ album worden gepubliceerd. De leukste vijf winnen iets. Maar vervolgens stuurt niemand een foto in. Zonder die foto’s, geen winnaar = geen succes."><span class="glyphicon glyphicon-info-sign"></span></button>
            </div>
            <div class="form-group">
                <div class="col-lg-2">
                </div>
                <div class="col-lg-3">
                    <button type="button" class="btn btn-primary btn-md plusSuccesfactor">
                        <span class="glyphicon glyphicon-plus"></span> Tussendoel
                    </button>
                </div>
            </div>
            <br />
            <div class="col-lg-2"></div>
            <div class="col-lg-10">
                <h4>Doelen van volgers</h4>
            </div>
            <br />
            <div id="volgersdoelRow" class="volgersdoelRow form-group">
                <label for="inputVolgersdoel" class="col-lg-2 control-label">Doel</label>
                <div class="col-lg-6">
                    <input type="text" class="form-control inline" id="inputVolgersdoel" name="socialplan[doelenvolgers][]" placeholder="">
                </div>
                <button type="button" class="infoknop btn btn-default btn-md inline" data-container="body" data-toggle="popover" data-placement="right" data-content="Hier formuleer je de doelen die potentiële volgers willen bereiken op jouw pagina. Deze doelen zijn vaak hetzelfe als de kansen die jouw zakelijke Social Media pagina jou biedt. Een doel van een volger kan bijvoorbeeld zijn: Mijn mening geven over trouwjurken. De bijbehorende kans voor de Social Media pagina is dan: Een kans is dat wij een plek bieden waar vrouwen graag hun mening delen over trouwjurken."><span class="glyphicon glyphicon-info-sign"></span></button>
            </div>
            <div class="form-group">
                <div class="col-lg-2">
                </div>
                <div class="col-lg-3">
                    <button type="button" class="btn btn-primary btn-md plusVolgersdoel">
                        <span class="glyphicon glyphicon-plus"></span> Doel
                    </button>
                </div>
            </div>
            <br />
            <div class="col-lg-2"></div>
            <div class="col-lg-10">
                <h4>Gevaren</h4>
            </div>
            <div id="gevaarRow" class="gevaarRow form-group">
                <label for="inputGevaar" class="col-lg-2 control-label">Gevaar</label>
                <div class="col-lg-6">
                    <input type="text" class="form-control inline" id="inputGevaar" name="socialplan[gevaren][]" placeholder="">
                </div>
                <button type="button" class="infoknop btn btn-default btn-md inline" data-container="body" data-toggle="popover" data-placement="right" data-content="Gevaren omschrijven wat de kansen in de weg kunnen zitten. Bijvoorbeeld: een gevaar is dat vrouwen niet willen dat bepaalde vrienden op Social Media weten wat hun mening is over een bepaald item. "><span class="glyphicon glyphicon-info-sign"></span></button>
            </div>
            <div class="form-group">
                <div class="col-lg-2">
                </div>
                <div class="col-lg-3">
                    <button type="button" class="btn btn-primary btn-md plusGevaar">
                        <span class="glyphicon glyphicon-plus"></span> Gevaar
                    </button>
                </div>
            </div>
            <br />
            <div class="col-lg-2"></div>
            <div class="col-lg-10">
                <h4>Welke hashtags (#) en communities leven er omheen?</h4>
            </div>
            <br />
            <div id="hashtagRow" class="hashtagRow form-group">
                <label for="inputHashtag" class="col-lg-2 control-label">#</label>
                <div class="col-lg-3">
                    <input type="text" class="form-control inline" id="inputHashtag" name="socialplan[hashtags][]" placeholder="#voorbeeld">
                </div>
                <button type="button" class="infoknop btn btn-default btn-md inline" data-container="body" data-toggle="popover" data-placement="right" data-content="Het is belangrijk om te weten wat zich afspeelt om jouw bedrijf heen. Wat doen concurrenten? Welke hashtags gebruiken zij, waar spelen zij op in en welke pagina’s zijn populair? Op Twitter is het bijvoorbeeld erg belangrijk welke hashtags je in het bericht gebruikt om een bepaalde doelgroep te bereiken. Een bruidsmodewinkel zou bijvoorbeeld moeten kijken of de #trouwen actief wordt gevolgd. Is dit het geval? Dan is het verstandig om deze zelf ook gaan gebruiken in Tweets."><span class="glyphicon glyphicon-info-sign"></span></button>
            </div>
            <div class="form-group">
                <div class="col-lg-2">
                </div>
                <div class="col-lg-3">
                    <button type="button" class="btn btn-primary btn-md plusHashtag">
                        <span class="glyphicon glyphicon-plus"></span> Hashtag
                    </button>
                </div>
            </div>
            <br />
            <div id="communityRow" class="communityRow form-group">
                <label for="inputCommunity" class="col-lg-2 control-label">Community</label>
                <div class="col-lg-6">
                    <input type="text" class="half form-control inline" id="inputCommunity" name="socialplan[communities][][naam]" placeholder="Naam community">
                    <input type="text" class="half form-control inline" id="inputCommunityUrl" name="socialplan[communities][][url]" placeholder="http://www...">
                </div>
                <button type="button" class="infoknop btn btn-default btn-md inline" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Hierbij geldt hetzelfde als bij de hashtags, maar dan op Facebook. Hier vul je de namen en bijbehorende URL's van relevante Facebook pagina's."><span class="glyphicon glyphicon-info-sign"></span></button>
            </div>
            <div class="form-group">
                <div class="col-lg-2">
                </div>
                <div class="col-lg-3">
                    <button type="button" class="btn btn-primary btn-md plusCommunity">
                        <span class="glyphicon glyphicon-plus"></span> Community
                    </button>
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-lg-2">
                </div>
                <div class="col-lg-10">
                    <a href="#" onclick="activeTab('content');" data-toggle="tab" class="col-lg-3 btn btn-success btn-md">
                        <span class="glyphicon glyphicon-chevron-right"></span> Verder naar Content
                    </a>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="content">
            <h3>Content per social media kanaal</h3>
            <br />
            <div id="kanaalContentPanelContainer">
                <div id="kanaalContentPanel-1" class="kanaalContentPanel panel panel-default">
                    <div class="panel-heading" onclick="toggleKanaalPanel(1);">
                        <span class="glyphicon glyphicon-chevron-down" style="float: left; margin-right: 10px; cursor: pointer;"></span>
                        <h3 class="panel-title" style="float:left;">Nieuw kanaal</h3>
                        <div style="clear: both;"></div>
                    </div>
                    <div class="panel-body">

                        <div class="form-group">
                            <label for="inputKanaalTitel" class="col-lg-2 control-label">Social media kanaal</label>
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <input type="text" onblur="kanaalTitelIngevuld(this);" class="form-control" id="inputKanaalTitel-1" placeholder="bijv. Facebook of Twitter">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" onclick="kanaalTitelIngevuld($(this).parent().parent().find('#inputKanaalTitel'));">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <button type="button" class="infoknop btn btn-default btn-md inline" data-container="body" data-toggle="popover" data-placement="right" data-content="Hier maak je een nieuw plan aan voor een specifiek Social Media kanaal. Als je van plan bent om op meerdere kanalen hetzelfde te doen, dan kan je hier meerdere kanalen invullen. Bijvoorbeeld: 'Facebook en Twitter'. Ga je verschillende content op verschillende kanalen verspreiden, dan kan je hier beter voor ieder kanaal apart een plan aanmaken."><span class="glyphicon glyphicon-info-sign"></span></button>
                        </div>

                        <div class="kanaalContentContainer" style="display: none">
                            <div class="col-lg-12">
                                <h4>Cores & paths</h4>
                            </div>
                            <br />
                            <div id="padnaarbinnenbox" class="corespathsbox col-lg-3 inline">
                                <input type="text" class="form-control inline" id="inputPadnaarbinnen" name="socialplan[kanalen][][padennaarbinnen][]" placeholder="pad naar binnen...">

                                <button type="button" class="vol btn btn-primary btn-md" onclick="plusPadNaarBinnen(this);">
                                    <span class="glyphicon glyphicon-plus inline"></span> Pad naar binnen
                                </button>
                            </div>
                            <div class="forwardarrow col-lg-1">
                            </div>
                            <div id="contentbox" class="corespathsbox col-lg-3 inline">
                                @*<input type="text" class="form-control inline" id="inputContent-1" name="socialplan[kanalen][][contentitems][][titel]" placeholder="soort post..." onblur="contentItemIngevuld(this);">*@
                                <select class="form-control" id="inputContent-1" onchange="contentItemIngevuld(this);" style="margin-bottom: 3px;">
                                    <option>soort post...</option>
                                    <option>type a</option>
                                    <option>type b</option>
                                </select>
                                <button type="button" class="vol btn btn-primary btn-md" onclick="plusContent(this);">
                                    <span class="glyphicon glyphicon-plus inline"></span> Post
                                </button>
                            </div>
                            <div class="forwardarrow col-lg-1">

                            </div>
                            <div id="padnaarbuitenbox" class="corespathsbox col-lg-3 inline">
                                <input type="text" class="form-control inline" id="inputPadnaarbinnen" name="socialplan[kanalen][][padennaarbuiten][]" placeholder="pad naar buiten...">
                                <button type="button" class="vol btn btn-primary btn-md" onclick="plusPadNaarBuiten(this);">
                                    <span class="glyphicon glyphicon-plus inline"></span> Pad naar buiten
                                </button>
                            </div>
                            &nbsp;
                            <button type="button" class="infoknop btn btn-default btn-md inline" data-container="body" data-toggle="popover" data-placement="left" data-content="Paden naar binnen, dit is waar de volgers vandaan komen. Bijvoorbeeld: via een Social button op de website, likes of retweets van vrienden of de zoekfunctie van het Social Media kanaal. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Content, dit zegt wat voor content het is dat je plaatst. Bijvoorbeeld: Plek voor feedback. Deze plek creëer je met bijvoorbeeld een post op Facebook waar mensen hun mening kunnen geven over een bepaalde trouwjurk. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Paden naar buiten, dit is waar de volgers vervolgens heen kunnen. Bijvoorbeeld: de website, een ander Social Media kanaal of het betreffende artikel waar de post over gaat."><span class="glyphicon glyphicon-info-sign"></span></button>

                            <div class="col-lg-12 block" style="clear: both; height: 50px;"></div>

                            <br />
                            <div id="contentUitwerking-1-1" class="contentUitwerking col-lg-12" style="display: none;">
                                <h4 class="contentTitel">soort post...</h4>
                                
                                <div class="form-group">
                                    <label for="checkboxOnderdelen" class="col-lg-2">Onderdelen</label>
                                    <div class="col-lg-1">
                                        <input type="checkbox" name="socialplan[kanalen][][contentitems][][onderdelen]" /> Video <br />
                                        <input type="checkbox" name="socialplan[kanalen][][contentitems][][onderdelen]" /> Foto <br />
                                        <input type="checkbox" name="socialplan[kanalen][][contentitems][][onderdelen]" /> Tekst
                                    </div>
                                    &nbsp;
                                    <button type="button" class="infoknop btn btn-default btn-md inline" data-container="body" data-toggle="popover" data-placement="right" data-content="Vink hier aan wat van toepassing is op deze soort post. Ga je deze alleen in de vorm van tekst doen of voeg je er een plaatje en of filmpje aan toe? Vink je hier tekst en foto aan? Dan is deze post elke week in de vorm van tekst met een bijbehorend plaatje."><span class="glyphicon glyphicon-info-sign"></span></button>
                                </div>
                                <br />
                                <div class="form-group">
                                    <label for="radioShareablelikable" class="col-lg-2">Likable/Shareble</label>
                                    <div class="col-lg-2">

                                        <input type="radio" name="radioShareablelikable" /> Like <br />
                                        <input type="radio" name="radioShareablelikable" /> Comment <br />
                                        <input type="radio" name="radioShareablelikable" /> Share
                                    </div>
                                    &nbsp;
                                    <button type="button" class="infoknop btn btn-default btn-md inline" data-container="body" data-toggle="popover" data-placement="right" data-content="Hier kies je waar je op inzet. Ga je met deze soort post voornamelijk voor likes of wil je meer teweeg brengen en ga je voor shares? Let wel, voor shares moet de post meer lading dekken dan een post die voornamelijk likeable is."><span class="glyphicon glyphicon-info-sign"></span></button>
                                </div>
                                <br />
                                <div id="calltoactionRow" class="calltoactionRow form-group">
                                    <label for="inputCalltoaction" class="col-lg-2">Call to action</label>
                                    <div class="col-lg-3">
                                        <input type="text" class="form-control inline" id="inputCalltoaction" placeholder="action...">
                                    </div>
                                    <button type="button" class="infoknop btn btn-default btn-md inline" data-container="body" data-toggle="popover" data-placement="right" data-content="Call to action, dit zijn de woorden die je steeds terug zal laten komen in de berichten. Bijvoorbeeld: Klik hier: of, Winnen? Kan hier: of, Tot zo!"><span class="glyphicon glyphicon-info-sign"></span></button>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-2">
                                    </div>
                                    <div class="col-lg-3">
                                        <button type="button" class="btn btn-primary btn-md" onclick="plusCallToAction(this);">
                                            <span class="glyphicon glyphicon-plus"></span> Call to action
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-lg-3">
                    <button type="button" class="btn btn-primary btn-md" id="plusKanaal">
                        <span class="glyphicon glyphicon-plus"></span> Social media kanaal
                    </button>
                </div>
            </div>
            <br />

            <div class="col-lg-12 block" style="clear: both; height: 50px;"></div>

            <div class="form-group">

                <div class="col-lg-12">
                    <a href="#" onclick="activeTab('planning'); preparePlanningTab();" data-toggle="tab" class="col-lg-3 btn btn-success btn-md">
                        <span class="glyphicon glyphicon-chevron-right"></span> Verder naar Planning
                    </a>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="planning">
            <h3>Planning</h3>
            <br />
            <div class="form-group">
                <label for="inputFrequentie" class="col-lg-2 control-label">Frequentie</label>
                <div class="col-lg-1">
                    <input type="text" class="form-control inline" id="inputFrequentie" value="" disabled>
                </div>
                <button type="button" class="infoknop btn btn-default btn-md inline" data-container="body" data-toggle="popover" data-placement="right" data-content="TODO"><span class="glyphicon glyphicon-info-sign"></span></button>
            </div>
            <div id="planningActieMomentRows">
                <div class="planningActieMomentRow form-group">
                    <label for="inputFrequentie" class="col-lg-2 control-label">Weekplanning</label>
                    <div class="col-lg-2">
                        <select class="form-control inline">
                            <option>Dag</option>
                            <option>Maandag</option>
                            <option>Dinsdag</option>
                            <option>Woensdag</option>
                            <option>Donderdag</option>
                            <option>Vrijdag</option>
                            <option>Zaterdag</option>
                            <option>Zondag</option>
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <select class="form-control inline">
                            <option>Tijd</option>
                            <option>07:00</option>
                            <option>08:00</option>
                            <option>09:00</option>
                            <option>10:00</option>
                            <option>11:00</option>
                            <option>12:00</option>
                            <option>13:00</option>
                            <option>14:00</option>
                            <option>15:00</option>
                            <option>16:00</option>
                            <option>17:00</option>
                            <option>18:00</option>
                            <option>19:00</option>
                            <option>20:00</option>
                            <option>21:00</option>
                            <option>22:00</option>
                            <option>23:00</option>
                            <option>00:00</option>
                        </select>
                    </div>
                    <div class="col-lg-4">
                        <select class="planningContentSelect form-control inline"></select>
                    </div>
                    <button type="button" class="infoknop btn btn-default btn-md inline" data-container="body" data-toggle="popover" data-placement="right" data-content="TODO"><span class="glyphicon glyphicon-info-sign"></span></button>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-2">
                </div>
                <div class="col-lg-3">
                    <button type="button" class="btn btn-primary btn-md" onclick="plusPlanningActieMoment();">
                        <span class="glyphicon glyphicon-plus"></span> Actiemoment
                    </button>
                </div>
            </div>
        </div>
        

    </div><!--tab-->

</form>


<div class="modal" id="removeContentItemSure">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="$('#removeContentItemSure').fadeOut();">×</button>
                <h4 class="modal-title">Content item verwijderen</h4>
            </div>
            <div class="modal-body">
                <p>Weet je zeker dat je dit content item wil verijderen?</p>
                <p>Daarmee verwijder je alle bijbehorende gekozen informatie (soort post, onderdelen, likeable/shareable en call to action).</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="$('#removeContentItemSure').fadeOut();" data-dismiss="modal">Annuleren</button>
                <button id="removeContentItemConfirmButton" type="button" class="btn btn-danger" onclick="removeContent(removeContentCallerTemp);">Verwijder</button>
            </div>
        </div>
    </div>
</div>
