@{
    ViewBag.Title = "Nieuw Social Plan maken";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<form class="form-horizontal">

    <ul class="nav nav-tabs" style="margin-bottom: 15px;">
        <li class="active"><a href="#algemeen" data-toggle="tab">Algemeen</a></li>
        <li><a href="#analyse" data-toggle="tab">Analyse</a></li>
        <li><a href="#content" data-toggle="tab">Content</a></li>
        <li><a href="#planning" data-toggle="tab">Planning</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="algemeen">
            <div class="form-group">
                <label for="inputTitel" class="col-lg-2 control-label">Titel</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputTitel" placeholder="Naam project">
                </div>
            </div>
            <div class="form-group">
                <label for="inputContactpersoonNaam" class="col-lg-2 control-label">Contactpersoon</label>
                <div class="col-lg-12">
                    <div class="inputs-row">
                        <input type="text" class="form-control inline-inputs" id="inputContactpersoonNaam" placeholder="Naam contactpersoon">
                        <input type="text" class="form-control inline-inputs" id="inputContactpersoonEmail" placeholder="Email">
                        <input type="text" class="form-control inline-inputs" id="inputContactpersoonTelefoon" placeholder="Telefoon">
                    </div>
                    <button type="button" class="btn btn-default btn-xs nogeenknop block-inputs">
                        <span class="glyphicon glyphicon-plus"></span> Nog een toevoegen
                    </button></div>
            </div>
            
        </div>
        <div class="tab-pane fade" id="analyse">
            <button type="button" class="btn btn-default btn-xs nogeenknop">
                <span class="glyphicon glyphicon-plus"></span> Nog een toevoegen
            </button>
        </div>
        <div class="tab-pane fade" id="content">
            
        </div>
        <div class="tab-pane fade" id="planning">
            <fieldset>
                <legend>Legend</legend>
                <div class="form-group">
                    <label for="inputTitel" class="col-lg-2 control-label">Titel</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputTitel" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Checkbox
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="textArea" class="col-lg-2 control-label">Textarea</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="3" id="textArea"></textarea>
                        <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Radios</label>
                    <div class="col-lg-10">
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                Option one is this
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                Option two can be something else
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="select" class="col-lg-2 control-label">Selects</label>
                    <div class="col-lg-10">
                        <select class="form-control" id="select">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        <br>
                        <select multiple="" class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </fieldset>    
        </div>
    </div>
    
</form>