@model List<MijnSocialPlan.Models.SocialPlan>

@if(Model.Count > 0) {
    foreach (var item in Model)
    {
        <li><a href="#" onclick="$('#opgeslagenPlanPopup').fadeIn();">@Html.DisplayFor(modelItem => item.Titel)</a></li>
    }
}
else
{
    <li></li>
}

